.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.homepage {
    width: 700px;
    max-width: 100%;
    margin: auto;
    text-align: left;
    color: var(--theme-color-blue-dark);
    line-height: 1.25;
}

.view-description {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.homepage-check-in-title {
    color: var(--theme-color-pink);
    font-weight: bold;
}

@media (max-width: 850px) {
    .homepage-container {
        margin-bottom: 35px;
        height: auto;

    }
    .view-description {
        grid-template-columns: 1fr;
    }
}