.chapter-hall-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;

    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;

    border-radius: 5px;
    overflow: hidden;
    background-color: var(--theme-color-yellow);
    color: var(--theme-color-blue-dark); 
}

.chapter-hall-container:hover {
    background-color: var(--theme-color-yellow-light);
}
.chapter-hall-container.active {
    background-color: var(--theme-color-blue-dark);
    color: var(--theme-color-yellow-light);
}

.chapter-hall-name {
    flex: 1;
    margin-left: 15px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.chapter-hall-name a {
    text-decoration: none;
}

.chapter-hall-logo-container {
    height: 43px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
}
.chapter-hall-logo {
    width: 43px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}
.chapter-hall-logo-split {
    height: 60%;
    width: 1px;
    background-color: var(--theme-color-blue-dark);
    opacity: 0.5;
}
.chapter-hall-container.active .chapter-hall-logo-split {
    background-color: var(--theme-color-yellow);
}

.chapter-hall-logo img { 
    margin: auto;
    height: 100%;
}
.chapter-hall-container.active .chapter-hall-logo img {
    filter: invert()
}

@media (max-width: 850px) {
    .chapter-hall-container {
        align-items: center;
    }
}

