:root{
    --rate-color-dark-green: #13b813;
    --rate-color-ligh-green: #9acd32;
    --rate-color-yellow: #ffd000;
    --rate-color-orange:  #fc8c53;
    --rate-color-red: #fa4538;

}
.chapter-information-container {
    width: auto;
    height: 180px;
    background-color: var(--theme-color-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px; 
}

.chapter-crowd-container {
    height: 100%;
    width: 100%;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chapter-logo-container {
    display: flex;
    justify-content: center;
}

.chapter-hall-logos {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.chapter-hall-logos img { 
    height:100px;
    width: auto;
}

.color-container {
    width: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.circle-container {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
   
}

.circle-0, .circle-1, .circle-2, .circle-3, .circle-4{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.circle-0.current-percent, .circle-1.current-percent, .circle-2.current-percent, .circle-3.current-percent, .circle-4.current-percent{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: var(--theme-shadow-normal);
}

.hover-content-0, .hover-content-1, .hover-content-2, .hover-content-3, .hover-content-4{
    display: none;
    width: 60px;
    padding-top: 30px;
}

.hover-content-0.current-percent, .hover-content-1.current-percent, .hover-content-2.current-percent, .hover-content-3.current-percent, .hover-content-4.current-percent{
    padding-top: 35px;
}

.circle-0:hover .hover-content-0, .circle-1:hover .hover-content-1, .circle-2:hover .hover-content-2, .circle-3:hover .hover-content-3, .circle-4:hover .hover-content-4{
    display: flex;
}

.circle-0  {
    background-color: var(--rate-color-dark-green);
}

.circle-1 {
    background-color: var(--rate-color-ligh-green);
}

.circle-2 {
    background-color: var(--rate-color-yellow);
}

.circle-3{
    background-color: var(--rate-color-orange);
}

.circle-4 {
    background-color: var(--rate-color-red);
}

.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 18px;
}

.text-percent-0, .text-percent-1, .text-percent-2, .text-percent-3, .text-percent-4 {
    font-size: 25px;
}

.text-percent-0 {
    color: var(--rate-color-dark-green);
}

.text-percent-1 {
    color: var(--rate-color-ligh-green);
}

.text-percent-2 {
    color: var(--rate-color-yellow);
}

.text-percent-3 {
    color: var(--rate-color-orange);
}

.text-percent-4 {
    color: var(--rate-color-red);
}

.occupancy-scale-0 {
    filter: invert(55%) sepia(71%) saturate(393%) hue-rotate(71deg) brightness(101%) contrast(95%);
}

.occupancy-scale-1 {
    filter: invert(82%) sepia(15%) saturate(1470%) hue-rotate(27deg) brightness(90%) contrast(85%);
}

.occupancy-scale-2 {
    filter: invert(92%) sepia(81%) saturate(5819%) hue-rotate(318deg) brightness(101%) contrast(100%);
}

.occupancy-scale-3 {
    filter: invert(77%) sepia(39%) saturate(5977%) hue-rotate(333deg) brightness(107%) contrast(91%);
}

.occupancy-scale-4 {
    filter: invert(63%) sepia(58%) saturate(7442%) hue-rotate(335deg) brightness(94%) contrast(98%);
}

@media (max-width: 850px) {
    .chapter-information-container {
        height: 100px;
        width: 100%;
    }

    .chapter-crowd-container {
        height: 100%;
        width: 50%;
    }
    
    .chapter-hall-logos img { 
        height:50px;
        width: auto;
    }

    .circle-container {
        width: 70px;
    }

    .circle-0, .circle-1, .circle-2, .circle-3, .circle-4, .circle-5{
        height: 10px;
        width: 10px;
    }

    .circle-0.current-percent, .circle-1.current-percent, .circle-2.current-percent, .circle-3.current-percent, .circle-4.current-percent{
        height: 15px;
        width: 15px;
    }

    .text-container {
        font-size: 10px;
        padding-right: 5px;
    }

    .text-percent-0, .text-percent-1, .text-percent-2, .text-percent-3, .text-percent-4 {
        font-size: 15px;
    }
}