.check-in-card-container {
    border-radius: var(--theme-shape-card-radius);
    background-color: var(--theme-color-yellow);
    opacity: 0;
    transform: scale(1.2);
    transition: 
        opacity 0.5s ease, 
        transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.check-in-card-container.active {
    opacity: 1;
    transform: scale(1);
}

.check-in-card-name {
    font-weight: bold;
}

.check-in-card-data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.check-in-card-data {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    border-radius: var(--theme-shape-card-radius);
    background-color: var(--theme-color-yellow-light);
}

.check-in-card-data-data {
    font-size: 12px;
    font-weight: bold;
}

.check-in-card-data-icon {
    width: 23px;
    height: auto;
    margin-right: 3px;

    display: flex;
    align-items: center;
}
.check-in-card-data-icon img {
    width: 100%;
}
.check-in-card-data-description {
    font-size: 10px;
}

.check-in-no-people {
    text-align: center;
    opacity: 0.5;
}
.check-in-no-people img {
    max-width: 100%;
    width: 100px;
    opacity: 0.25;
}