.view-card img {
    cursor: pointer;
    width: 50px;
    filter: invert(13%) sepia(64%) saturate(2124%) hue-rotate(213deg) brightness(91%) contrast(93%);
}

.view-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-card-title {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-color-blue-dark); 
}

.view-card.active img {
    filter: invert(75%) sepia(23%) saturate(383%) hue-rotate(100deg) brightness(95%) contrast(97%);
}

.view-card.active .view-card-title {
    filter: invert(75%) sepia(23%) saturate(383%) hue-rotate(100deg) brightness(95%) contrast(97%);
}



