.view-card {
    cursor: pointer;
    -webkit-user-select: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.view-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.view-card svg {
    max-width: 50px;
    fill: var(--theme-color-blue-dark); 
}

.view-card-title {
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-color-blue-dark); 
}

.view-card.active svg {
    fill: var(--theme-color-green); 
}

.view-card.active .view-card-title {
    color: var(--theme-color-green);
}

@media (max-width: 850px) {
    .view-card-content {
        flex-direction: column;
    }

    .view-card-title {
        padding: 0;
        padding-top: 5px;
        font-size: 10px;
    }

    .view-card svg {
        height: 40px;
    }

    .view-card.active svg {
        fill: var(--theme-color-yellow); 
    }

    .view-card.active .view-card-title {
        color: var(--theme-color-yellow);
    }
}

