.view-card {
    cursor: pointer;
    -webkit-user-select: none;
}

.view-card svg {
    max-width: 50px;
    fill: var(--theme-color-blue-dark); 
}

.view-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-card-title {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-color-blue-dark); 
}

.view-card.active svg {
    fill: var(--theme-color-green); 
}

.view-card.active .view-card-title {
   color: var(--theme-color-green);
}


