.main-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-content {
    flex: 8;
}

@media (max-width: 850px) {
    .main-content {
        padding-top: 55px;
    }
}