.main-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-content {
    position: relative;
    flex: 8;
}

.main-content-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content-graph {
    flex: 1;
}
.main-content-slider {
    width: 100%;
}

@media (max-width: 850px) {
    .main-content {
        padding-top: 55px;
        padding-bottom: calc(70px + env(safe-area-inset-bottom))
    }
}