:root {
    --theme-color-yellow: #fbdc4c;
    --theme-color-yellow-light: #fef3ca;
    --theme-color-blue-dark: #1b2e63;
    --theme-color-green:  #90cdb1;
    --theme-color-red: #db001e;
    --theme-color-pink: #fb98ae;
    --theme-color-grey: #eee;

    --theme-shadow-normal: 0 3px 10px rgba(0, 0, 0, 0.15);
    --theme-shadow-normal-hover: 0 5px 13px rgba(0, 0, 0, 0.2);

    --theme-text-bright: #ffffff; 
    --theme-text-dark: #000000;
}