:root {
    --theme-color-yellow: #fbdc4c;
    --theme-color-yellow-light: #fef3ca;
    --theme-color-blue-dark: #1b2e63;
    --theme-color-green:  #90cdb1;
    --theme-color-red: #db001e;
    --theme-color-pink: #fb98ae;
    --theme-color-grey: #eee;
    --theme-color-dark-grey: #353535;

    --theme-shadow-normal: 0 3px 10px rgba(0, 0, 0, 0.15);
    --theme-shadow-normal-hover: 0 5px 13px rgba(0, 0, 0, 0.2);

    --theme-text-bright: #ffffff; 
    --theme-text-dark: #000000;

    --rate-color-0-20-full: #13b813;
    --rate-color-20-40-full: #9acd32;
    --rate-color-40-60-full: #ffd000;
    --rate-color-60-80-full:  #fc8c53;
    --rate-color-80-100-full: #fa4538;
}