.navbar {
    z-index: 1;
    width: 275px;
    color: var(--theme-text-dark);
    background-color: var(--theme-color-green);
    user-select: none;
}

.navbar-padding {
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
}

.navbar-leading {
    width: 100%;
}

.navbar-content {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;  
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 8;
}

.navbar-mobile-menu-button {
    display: none;
}

.navbar-logo {
    width: 100%;
}

@media (max-height: 700px)  and (min-width: 850px) {
    .navbar-logo {
        width: 80%;
    }
    .navbar-padding {
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
    }
}

@media (max-width: 850px) {
    .navbar {
        left: 0;
        right: 0;
        top: 0;
        width: unset;
        flex-direction: row;
        position: fixed;
        justify-content: space-between;
        height: 55px;
    }

    .navbar-leading {
        height: 100%;
    }

    .navbar-logo {
        width: unset;
        height: 100%;
    }

    .navbar-padding {
        padding: 5px 15px;
    }
    
    .navbar-mobile-menu-button {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 12px;
    }

    .navbar-content {
        position: fixed;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        background-color: var(--theme-color-green);

        transform: translateX(25%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s, opacity 0.3s, visibility 0.5s;
    }

    .navbar-content.active {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        height: auto;
    }
}